*.pyc
.vscode/
.idea/
output
build
diff_rasterization/diff_rast.egg-info
**.egg-info
**.so
diff_rasterization/dist

cameras.json
*.ply
*.mp4
datasets
ablation_results
runtime_results
wandb
weights
result*
CLAUDE.md
.claude/
# 新增
.docs/
external_repos/
.gitnexus
.third_party/
